/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/05/2017, 18:28:01
    Author     : marxe
*/
@keyframes gif-loading {
	0% {background-position:0px 0px;}
	0.29% {background-position:-500px 0px;}
	0.59% {background-position:-1000px 0px;}
	0.88% {background-position:-1500px 0px;}
	1.17% {background-position:-2000px 0px;}
	1.47% {background-position:-2500px 0px;}
	1.76% {background-position:-3000px 0px;}
	2.05% {background-position:-3500px 0px;}
	2.35% {background-position:-4000px 0px;}
	2.64% {background-position:-4500px 0px;}
	2.93% {background-position:-5000px 0px;}
	3.23% {background-position:-5500px 0px;}
	3.52% {background-position:-6000px 0px;}
	3.81% {background-position:-6500px 0px;}
	4.11% {background-position:-7000px 0px;}
	4.4% {background-position:-7500px 0px;}
	4.69% {background-position:-8000px 0px;}
	4.99% {background-position:-8500px 0px;}
	5.28% {background-position:-9000px 0px;}
	5.57% {background-position:0px -281px;}
	5.87% {background-position:-500px -281px;}
	6.16% {background-position:-1000px -281px;}
	6.45% {background-position:-1500px -281px;}
	6.74% {background-position:-2000px -281px;}
	7.04% {background-position:-2500px -281px;}
	7.33% {background-position:-3000px -281px;}
	7.62% {background-position:-3500px -281px;}
	7.92% {background-position:-4000px -281px;}
	8.21% {background-position:-4500px -281px;}
	8.5% {background-position:-5000px -281px;}
	8.8% {background-position:-5500px -281px;}
	9.09% {background-position:-6000px -281px;}
	9.38% {background-position:-6500px -281px;}
	9.68% {background-position:-7000px -281px;}
	9.97% {background-position:-7500px -281px;}
	10.26% {background-position:-8000px -281px;}
	10.56% {background-position:-8500px -281px;}
	10.85% {background-position:-9000px -281px;}
	11.14% {background-position:0px -562px;}
	11.44% {background-position:-500px -562px;}
	11.73% {background-position:-1000px -562px;}
	12.02% {background-position:-1500px -562px;}
	12.32% {background-position:-2000px -562px;}
	12.61% {background-position:-2500px -562px;}
	12.9% {background-position:-3000px -562px;}
	13.2% {background-position:-3500px -562px;}
	13.49% {background-position:-4000px -562px;}
	13.78% {background-position:-4500px -562px;}
	14.08% {background-position:-5000px -562px;}
	14.37% {background-position:-5500px -562px;}
	14.66% {background-position:-6000px -562px;}
	14.96% {background-position:-6500px -562px;}
	15.25% {background-position:-7000px -562px;}
	15.54% {background-position:-7500px -562px;}
	15.84% {background-position:-8000px -562px;}
	16.13% {background-position:-8500px -562px;}
	16.42% {background-position:-9000px -562px;}
	16.72% {background-position:0px -843px;}
	17.01% {background-position:-500px -843px;}
	17.3% {background-position:-1000px -843px;}
	17.6% {background-position:-1500px -843px;}
	17.89% {background-position:-2000px -843px;}
	18.18% {background-position:-2500px -843px;}
	18.48% {background-position:-3000px -843px;}
	18.77% {background-position:-3500px -843px;}
	19.06% {background-position:-4000px -843px;}
	19.35% {background-position:-4500px -843px;}
	19.65% {background-position:-5000px -843px;}
	19.94% {background-position:-5500px -843px;}
	20.23% {background-position:-6000px -843px;}
	20.53% {background-position:-6500px -843px;}
	20.82% {background-position:-7000px -843px;}
	21.11% {background-position:-7500px -843px;}
	21.41% {background-position:-8000px -843px;}
	21.7% {background-position:-8500px -843px;}
	21.99% {background-position:-9000px -843px;}
	22.29% {background-position:0px -1124px;}
	22.58% {background-position:-500px -1124px;}
	22.87% {background-position:-1000px -1124px;}
	23.17% {background-position:-1500px -1124px;}
	23.46% {background-position:-2000px -1124px;}
	23.75% {background-position:-2500px -1124px;}
	24.05% {background-position:-3000px -1124px;}
	24.34% {background-position:-3500px -1124px;}
	24.63% {background-position:-4000px -1124px;}
	24.93% {background-position:-4500px -1124px;}
	25.22% {background-position:-5000px -1124px;}
	25.51% {background-position:-5500px -1124px;}
	25.81% {background-position:-6000px -1124px;}
	26.1% {background-position:-6500px -1124px;}
	26.39% {background-position:-7000px -1124px;}
	26.69% {background-position:-7500px -1124px;}
	26.98% {background-position:-8000px -1124px;}
	27.27% {background-position:-8500px -1124px;}
	27.57% {background-position:-9000px -1124px;}
	27.86% {background-position:0px -1405px;}
	28.15% {background-position:-500px -1405px;}
	28.45% {background-position:-1000px -1405px;}
	28.74% {background-position:-1500px -1405px;}
	29.03% {background-position:-2000px -1405px;}
	29.33% {background-position:-2500px -1405px;}
	29.62% {background-position:-3000px -1405px;}
	29.91% {background-position:-3500px -1405px;}
	30.21% {background-position:-4000px -1405px;}
	30.5% {background-position:-4500px -1405px;}
	30.79% {background-position:-5000px -1405px;}
	31.09% {background-position:-5500px -1405px;}
	31.38% {background-position:-6000px -1405px;}
	31.67% {background-position:-6500px -1405px;}
	31.96% {background-position:-7000px -1405px;}
	32.26% {background-position:-7500px -1405px;}
	32.55% {background-position:-8000px -1405px;}
	32.84% {background-position:-8500px -1405px;}
	33.14% {background-position:-9000px -1405px;}
	33.43% {background-position:0px -1686px;}
	33.72% {background-position:-500px -1686px;}
	34.02% {background-position:-1000px -1686px;}
	34.31% {background-position:-1500px -1686px;}
	34.6% {background-position:-2000px -1686px;}
	34.9% {background-position:-2500px -1686px;}
	35.19% {background-position:-3000px -1686px;}
	35.48% {background-position:-3500px -1686px;}
	35.78% {background-position:-4000px -1686px;}
	36.07% {background-position:-4500px -1686px;}
	36.36% {background-position:-5000px -1686px;}
	36.66% {background-position:-5500px -1686px;}
	36.95% {background-position:-6000px -1686px;}
	37.24% {background-position:-6500px -1686px;}
	37.54% {background-position:-7000px -1686px;}
	37.83% {background-position:-7500px -1686px;}
	38.12% {background-position:-8000px -1686px;}
	38.42% {background-position:-8500px -1686px;}
	38.71% {background-position:-9000px -1686px;}
	39% {background-position:0px -1967px;}
	39.3% {background-position:-500px -1967px;}
	39.59% {background-position:-1000px -1967px;}
	39.88% {background-position:-1500px -1967px;}
	40.18% {background-position:-2000px -1967px;}
	40.47% {background-position:-2500px -1967px;}
	40.76% {background-position:-3000px -1967px;}
	41.06% {background-position:-3500px -1967px;}
	41.35% {background-position:-4000px -1967px;}
	41.64% {background-position:-4500px -1967px;}
	41.94% {background-position:-5000px -1967px;}
	42.23% {background-position:-5500px -1967px;}
	42.52% {background-position:-6000px -1967px;}
	42.82% {background-position:-6500px -1967px;}
	43.11% {background-position:-7000px -1967px;}
	43.4% {background-position:-7500px -1967px;}
	43.7% {background-position:-8000px -1967px;}
	43.99% {background-position:-8500px -1967px;}
	44.28% {background-position:-9000px -1967px;}
	44.57% {background-position:0px -2248px;}
	44.87% {background-position:-500px -2248px;}
	45.16% {background-position:-1000px -2248px;}
	45.45% {background-position:-1500px -2248px;}
	45.75% {background-position:-2000px -2248px;}
	46.04% {background-position:-2500px -2248px;}
	46.33% {background-position:-3000px -2248px;}
	46.63% {background-position:-3500px -2248px;}
	46.92% {background-position:-4000px -2248px;}
	47.21% {background-position:-4500px -2248px;}
	47.51% {background-position:-5000px -2248px;}
	47.8% {background-position:-5500px -2248px;}
	48.09% {background-position:-6000px -2248px;}
	48.39% {background-position:-6500px -2248px;}
	48.68% {background-position:-7000px -2248px;}
	48.97% {background-position:-7500px -2248px;}
	49.27% {background-position:-8000px -2248px;}
	49.56% {background-position:-8500px -2248px;}
	49.85% {background-position:-9000px -2248px;}
	50.15% {background-position:0px -2529px;}
	50.44% {background-position:-500px -2529px;}
	50.73% {background-position:-1000px -2529px;}
	51.03% {background-position:-1500px -2529px;}
	51.32% {background-position:-2000px -2529px;}
	51.61% {background-position:-2500px -2529px;}
	51.91% {background-position:-3000px -2529px;}
	52.2% {background-position:-3500px -2529px;}
	52.49% {background-position:-4000px -2529px;}
	52.79% {background-position:-4500px -2529px;}
	53.08% {background-position:-5000px -2529px;}
	53.37% {background-position:-5500px -2529px;}
	53.67% {background-position:-6000px -2529px;}
	53.96% {background-position:-6500px -2529px;}
	54.25% {background-position:-7000px -2529px;}
	54.55% {background-position:-7500px -2529px;}
	54.84% {background-position:-8000px -2529px;}
	55.13% {background-position:-8500px -2529px;}
	55.43% {background-position:-9000px -2529px;}
	55.72% {background-position:0px -2810px;}
	56.01% {background-position:-500px -2810px;}
	56.3% {background-position:-1000px -2810px;}
	56.6% {background-position:-1500px -2810px;}
	56.89% {background-position:-2000px -2810px;}
	57.18% {background-position:-2500px -2810px;}
	57.48% {background-position:-3000px -2810px;}
	57.77% {background-position:-3500px -2810px;}
	58.06% {background-position:-4000px -2810px;}
	58.36% {background-position:-4500px -2810px;}
	58.65% {background-position:-5000px -2810px;}
	58.94% {background-position:-5500px -2810px;}
	59.24% {background-position:-6000px -2810px;}
	59.53% {background-position:-6500px -2810px;}
	59.82% {background-position:-7000px -2810px;}
	60.12% {background-position:-7500px -2810px;}
	60.41% {background-position:-8000px -2810px;}
	60.7% {background-position:-8500px -2810px;}
	61% {background-position:-9000px -2810px;}
	61.29% {background-position:0px -3091px;}
	61.58% {background-position:-500px -3091px;}
	61.88% {background-position:-1000px -3091px;}
	62.17% {background-position:-1500px -3091px;}
	62.46% {background-position:-2000px -3091px;}
	62.76% {background-position:-2500px -3091px;}
	63.05% {background-position:-3000px -3091px;}
	63.34% {background-position:-3500px -3091px;}
	63.64% {background-position:-4000px -3091px;}
	63.93% {background-position:-4500px -3091px;}
	64.22% {background-position:-5000px -3091px;}
	64.52% {background-position:-5500px -3091px;}
	64.81% {background-position:-6000px -3091px;}
	65.1% {background-position:-6500px -3091px;}
	65.4% {background-position:-7000px -3091px;}
	65.69% {background-position:-7500px -3091px;}
	65.98% {background-position:-8000px -3091px;}
	66.28% {background-position:-8500px -3091px;}
	66.57% {background-position:-9000px -3091px;}
	66.86% {background-position:0px -3372px;}
	67.16% {background-position:-500px -3372px;}
	67.45% {background-position:-1000px -3372px;}
	67.74% {background-position:-1500px -3372px;}
	68.04% {background-position:-2000px -3372px;}
	68.33% {background-position:-2500px -3372px;}
	68.62% {background-position:-3000px -3372px;}
	68.91% {background-position:-3500px -3372px;}
	69.21% {background-position:-4000px -3372px;}
	69.5% {background-position:-4500px -3372px;}
	69.79% {background-position:-5000px -3372px;}
	70.09% {background-position:-5500px -3372px;}
	70.38% {background-position:-6000px -3372px;}
	70.67% {background-position:-6500px -3372px;}
	70.97% {background-position:-7000px -3372px;}
	71.26% {background-position:-7500px -3372px;}
	71.55% {background-position:-8000px -3372px;}
	71.85% {background-position:-8500px -3372px;}
	72.14% {background-position:-9000px -3372px;}
	72.43% {background-position:0px -3653px;}
	72.73% {background-position:-500px -3653px;}
	73.02% {background-position:-1000px -3653px;}
	73.31% {background-position:-1500px -3653px;}
	73.61% {background-position:-2000px -3653px;}
	73.9% {background-position:-2500px -3653px;}
	74.19% {background-position:-3000px -3653px;}
	74.49% {background-position:-3500px -3653px;}
	74.78% {background-position:-4000px -3653px;}
	75.07% {background-position:-4500px -3653px;}
	75.37% {background-position:-5000px -3653px;}
	75.66% {background-position:-5500px -3653px;}
	75.95% {background-position:-6000px -3653px;}
	76.25% {background-position:-6500px -3653px;}
	76.54% {background-position:-7000px -3653px;}
	76.83% {background-position:-7500px -3653px;}
	77.13% {background-position:-8000px -3653px;}
	77.42% {background-position:-8500px -3653px;}
	77.71% {background-position:-9000px -3653px;}
	78.01% {background-position:0px -3934px;}
	78.3% {background-position:-500px -3934px;}
	78.59% {background-position:-1000px -3934px;}
	78.89% {background-position:-1500px -3934px;}
	79.18% {background-position:-2000px -3934px;}
	79.47% {background-position:-2500px -3934px;}
	79.77% {background-position:-3000px -3934px;}
	80.06% {background-position:-3500px -3934px;}
	80.35% {background-position:-4000px -3934px;}
	80.65% {background-position:-4500px -3934px;}
	80.94% {background-position:-5000px -3934px;}
	81.23% {background-position:-5500px -3934px;}
	81.52% {background-position:-6000px -3934px;}
	81.82% {background-position:-6500px -3934px;}
	82.11% {background-position:-7000px -3934px;}
	82.4% {background-position:-7500px -3934px;}
	82.7% {background-position:-8000px -3934px;}
	82.99% {background-position:-8500px -3934px;}
	83.28% {background-position:-9000px -3934px;}
	83.58% {background-position:0px -4215px;}
	83.87% {background-position:-500px -4215px;}
	84.16% {background-position:-1000px -4215px;}
	84.46% {background-position:-1500px -4215px;}
	84.75% {background-position:-2000px -4215px;}
	85.04% {background-position:-2500px -4215px;}
	85.34% {background-position:-3000px -4215px;}
	85.63% {background-position:-3500px -4215px;}
	85.92% {background-position:-4000px -4215px;}
	86.22% {background-position:-4500px -4215px;}
	86.51% {background-position:-5000px -4215px;}
	86.8% {background-position:-5500px -4215px;}
	87.1% {background-position:-6000px -4215px;}
	87.39% {background-position:-6500px -4215px;}
	87.68% {background-position:-7000px -4215px;}
	87.98% {background-position:-7500px -4215px;}
	88.27% {background-position:-8000px -4215px;}
	88.56% {background-position:-8500px -4215px;}
	88.86% {background-position:-9000px -4215px;}
	89.15% {background-position:0px -4496px;}
	89.44% {background-position:-500px -4496px;}
	89.74% {background-position:-1000px -4496px;}
	90.03% {background-position:-1500px -4496px;}
	90.32% {background-position:-2000px -4496px;}
	90.62% {background-position:-2500px -4496px;}
	90.91% {background-position:-3000px -4496px;}
	91.2% {background-position:-3500px -4496px;}
	91.5% {background-position:-4000px -4496px;}
	91.79% {background-position:-4500px -4496px;}
	92.08% {background-position:-5000px -4496px;}
	92.38% {background-position:-5500px -4496px;}
	92.67% {background-position:-6000px -4496px;}
	92.96% {background-position:-6500px -4496px;}
	93.26% {background-position:-7000px -4496px;}
	93.55% {background-position:-7500px -4496px;}
	93.84% {background-position:-8000px -4496px;}
	94.13% {background-position:-8500px -4496px;}
	94.43% {background-position:-9000px -4496px;}
	94.72% {background-position:0px -4777px;}
	95.01% {background-position:-500px -4777px;}
	95.31% {background-position:-1000px -4777px;}
	95.6% {background-position:-1500px -4777px;}
	95.89% {background-position:-2000px -4777px;}
	96.19% {background-position:-2500px -4777px;}
	96.48% {background-position:-3000px -4777px;}
	96.77% {background-position:-3500px -4777px;}
	97.07% {background-position:-4000px -4777px;}
	97.36% {background-position:-4500px -4777px;}
	97.65% {background-position:-5000px -4777px;}
	97.95% {background-position:-5500px -4777px;}
	98.24% {background-position:-6000px -4777px;}
	98.53% {background-position:-6500px -4777px;}
	98.83% {background-position:-7000px -4777px;}
	99.12% {background-position:-7500px -4777px;}
	99.41% {background-position:-8000px -4777px;}
	99.71%, 100% {background-position:-8500px -4777px;}
}
a[href="#gif-loading"] {
	background:url(content/img/loading.png) no-repeat 0px 0px;
	display:inline-block;
	width:500px;
	height:281px;
	animation: gif-loading 10.23s infinite steps(1);
	font-size:0px;
	cursor:default
}
a[href="#gif-loading"]:active {
	pointer-events: none;
}


#circularG{
	position:relative;
	width:58px;
	height:58px;
	margin: auto;
}

.circularG{
	position:absolute;
	background-color:rgb(0,0,0);
	width:14px;
	height:14px;
	border-radius:9px;
		-o-border-radius:9px;
		-ms-border-radius:9px;
		-webkit-border-radius:9px;
		-moz-border-radius:9px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:1.1s;
		-o-animation-duration:1.1s;
		-ms-animation-duration:1.1s;
		-webkit-animation-duration:1.1s;
		-moz-animation-duration:1.1s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:23px;
	animation-delay:0.41s;
		-o-animation-delay:0.41s;
		-ms-animation-delay:0.41s;
		-webkit-animation-delay:0.41s;
		-moz-animation-delay:0.41s;
}

#circularG_2{
	left:6px;
	top:6px;
	animation-delay:0.55s;
		-o-animation-delay:0.55s;
		-ms-animation-delay:0.55s;
		-webkit-animation-delay:0.55s;
		-moz-animation-delay:0.55s;
}

#circularG_3{
	top:0;
	left:23px;
	animation-delay:0.69s;
		-o-animation-delay:0.69s;
		-ms-animation-delay:0.69s;
		-webkit-animation-delay:0.69s;
		-moz-animation-delay:0.69s;
}

#circularG_4{
	right:6px;
	top:6px;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#circularG_5{
	right:0;
	top:23px;
	animation-delay:0.97s;
		-o-animation-delay:0.97s;
		-ms-animation-delay:0.97s;
		-webkit-animation-delay:0.97s;
		-moz-animation-delay:0.97s;
}

#circularG_6{
	right:6px;
	bottom:6px;
	animation-delay:1.1s;
		-o-animation-delay:1.1s;
		-ms-animation-delay:1.1s;
		-webkit-animation-delay:1.1s;
		-moz-animation-delay:1.1s;
}

#circularG_7{
	left:23px;
	bottom:0;
	animation-delay:1.24s;
		-o-animation-delay:1.24s;
		-ms-animation-delay:1.24s;
		-webkit-animation-delay:1.24s;
		-moz-animation-delay:1.24s;
}

#circularG_8{
	left:6px;
	bottom:6px;
	animation-delay:1.38s;
		-o-animation-delay:1.38s;
		-ms-animation-delay:1.38s;
		-webkit-animation-delay:1.38s;
		-moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}