        <div class="login-container">
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    {{errMsg}}
                    <div class="login-title" style="text-align: center"><h3><strong>Login</strong></h3></div>
                    <form id="loginform" class="form-horizontal" role="form">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" type="text" class="form-control" name="nome" placeholder="Email" ng-model="email"> 
                        </div>
                        
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Senha" ng-model="password" >
                        </div>
                        
                        <div class="form-group">
                        <div class="col-md-6">
                            <a href="#/Senha" class="btn btn-link btn-block" style="text-align: left;color: #FFFFFF;">Esqueceu a senha?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block" ng-click="login()" type="submit">Login</button>
                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#/Cadastro" class="btn btn-link" style="color: #FFFFFF;">Cadastre-se</a>
                        </div>

                    </div>
                        
                    

                    </form>   	
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                       
                    </div>
                    
                </div>
            </div>
            
        </div>
            
    
