    <div ng-app="autentica" class="login-container" ng-controller="Cadastro">
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    {{errMsg}}
                    {{Msg}}
                    <div class="login-title" style="text-align: center"><h3><strong>Cadastre-se</strong></h3></div>
                    <form id="loginform" class="form-horizontal" role="form">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" type="text" class="form-control" name="nome" placeholder="Nome" ng-model="usuario.nome"> 
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="login-username" type="email" class="form-control" name="email" placeholder="E-mail" ng-model="usuario.email"> 
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Senha" ng-model="usuario.senha">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Confirmar senha" ng-model="usuario.confsenha">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls" align="center">
                                <button class="btn btn-success" ng-click="register()" onsubmit=""> Cadastrar</button>
                                <!--                                    <a id="btn-logon"  class="btn btn-success" ng-click="register()" >Cadastrar </a>-->
                                <button id="btn-cancel" type="reset" class="btn btn-danger" >Cancelar </button>
                            </div>

                        </div>
                        
                    </form>   	
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
            
