<!-- PAGE CONTENT -->
<style>
input[type='file'] {
  display: none
}

.input-wrapper label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  padding: 6px 20px
}

.input-wrapper label:hover {
  background-color: #2980b9
}
</style>

<div class="page-content">
    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <!-- TOGGLE NAVIGATION -->
        <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <!-- SIGN OUT -->
        <li class="xn-icon-button pull-right">
            <a href="#" class="mb-control" data-box="#mb-signout" ng-click="logoff()"><span class="fa fa-sign-out"></span></a>                        
        </li> 
        <!-- END SIGN OUT -->
        <!-- MESSAGES -->

        <!-- END MESSAGES -->
        <!-- TASKS -->

        <!-- END TASKS -->
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->                     

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#Dashboard">Dashboard</a></li>
        <li class="active">Inventario</li>
        <li class="active">Upload</li>
    </ul>
    <!-- END BREADCRUMB -->                       

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">
        <div class="alert alert-danger alert-dismissable" id="myAlert" hidden="">
                    <a class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">&times;</a>
                    {{Msg}}
<!--                    <strong>Well done!</strong> You successfully read this important alert message.-->
                  </div>

        <!-- START WIDGETS -->                    
        <div class="row">
            <div class="col-md-3">

                <!-- START WIDGET SLIDER -->

                <!-- END WIDGET SLIDER -->

            </div>
            <div class="col-md-3">

                <!-- START WIDGET MESSAGES -->

                <!-- END WIDGET MESSAGES -->

            </div>
            <div class="col-md-3">

                <!-- START WIDGET REGISTRED -->

                <!-- END WIDGET REGISTRED -->

            </div>
            <div class="col-md-3">

                <!-- START WIDGET CLOCK -->

                <!-- END WIDGET CLOCK -->

            </div>
        </div>
        <!-- END WIDGETS -->                    

        <div class="row">
            <div class="col-md-4">

                <!-- START USERS ACTIVITY BLOCK -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>Upload de inventário</h3>
                            <span></span>
                        </div>                                    
                        <ul class="panel-controls" style="margin-top: 2px;">
                            <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                            <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                    <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                </ul>                                        
                            </li>                                        
                        </ul>                                    
                    </div>                                
                    <div class="panel-body padding-0">
                        <div ng-app = "basApp">
                            <div style="visibility: visible" id="sendForm">
<!--                             <input action = "UploadAction" method = "post" type = "file" file-model = "myFile"/>-->
                                <div class='input-wrapper'>
                                    <label for='input-file'>
                                        Selecionar um arquivo
                                    </label>
                                    <input id='input-file' type='file' value='' />
                                    <span id='file-name'></span>
                                </div>
                                <br>
                                <p align="center">
                                    <button class="btn btn-primary" ng-click = "uploadFile()" style="height:40px;width:80px;">Enviar</button>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- END USERS ACTIVITY BLOCK -->

            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                                              
                    <div class="panel-body padding-0">
                        <div>
                            <p>Instruções:</p>
                            <p>O modelo de inventário pode ser baixado <a id="download">aqui</a></p>
                            <p style="text-align: justify">O inventário é composto pelos seguintes campos: nome cientifico, nome popular, familia, número de individuos, frequência, área basal, valor comercial da madeira, biomassa e utilidade da espécie. </p>
                            <p style="text-align: justify">Sendo que, nome cientifico, nome popular e familia são campos textuais; número de individuos e utilidade da espécie são campos inteiros; frequência, área basal, valor comercial da madeira e biomassa são campos decimais.</p>
                            <p>O valor comercial da madeira usado no inventário é o produto entre valor comercial da madeira e volume.</p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-4">

                <!-- START PROJECTS BLOCK -->

                <!-- END PROJECTS BLOCK -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                
               

                
            </div>
            <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <ul class="list-inline item-details">
                        <li><a href="http://themifycloud.com/downloads/janux-premium-responsive-bootstrap-admin-dashboard-template/">Admin templates</a></li>
                        <li><a href="http://themescloud.org">Bootstrap themes</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">

                <!-- START SALES & EVENTS BLOCK -->

                <!-- END SALES & EVENTS BLOCK -->

            </div>
        </div>

        <!-- START DASHBOARD CHART -->
        <div class="chart-holder" id="dashboard-area-1" style="height: 200px;"></div>
        <div class="block-full-width">

        </div>                    
        <!-- END DASHBOARD CHART -->

    </div>
    <!-- END PAGE CONTENT WRAPPER -->                                
</div>            
<!-- END PAGE CONTENT -->
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>                    
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade bs-example-modal-lg in login-body"  id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-right: 17px;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="z-index:1000000000">
        <div class="modal-content">
            <div class="modal-body" >
                <div id="circularG">
                    <div id="circularG_1" class="circularG"></div>
                    <div id="circularG_2" class="circularG"></div>
                    <div id="circularG_3" class="circularG"></div>
                    <div id="circularG_4" class="circularG"></div>
                    <div id="circularG_5" class="circularG"></div>
                    <div id="circularG_6" class="circularG"></div>
                    <div id="circularG_7" class="circularG"></div>
                    <div id="circularG_8" class="circularG"></div>
                </div>


            </div>
            <div class="modal-footer">
                <h1 class="col-sm-offset-4 col-sm-3">Carregando...</h1>
            </div>

        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<script>
    
    $(document).ready(function () {

  //processes when the Download CSV File button is clicked.  If the browser can handle the
  //download archor attribute, the contents of the posting file Multi-Line field will be
  //downloaded in a csv file, if the browser can't handle the attribute, the user will be
  //alerted and recommended to try another browser
  $('#download').click(function () {
    var textFile = 'BasaWeb/src/main/webapp/downloads/modelo_inventario'
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(textFile));
    element.setAttribute('download', 'modelo_inventario.csv');
    element.style.display = 'none';
    if (typeof element.download != "undefined") {
      //browser has support - process the download
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }
    else {
      //browser does not support - alert the user
      alert('This functionality is not supported by the current browser, recommend trying with Google Chrome instead.  (http://caniuse.com/#feat=download)');
    } //end of if...else...block
  }); //end of $('.downloadCSVFileButton').click(function () {

});
    
</script>