<!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" ng-click="logoff()" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                </li> 
            </ul>


                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#Dashboard">Dashboard</a></li>
                    <li><a>Inventário</a></li>
                    <li><a href="#Inventario-Selecao">Listar</a></li>
                    <li class="active">Inventário Tabela</li>
                    
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Inventário Tabela</h2>
                </div>
                <!-- END PAGE TITLE -->                
                <div class="alert alert-success alert-dismissable" id="myAlert" hidden="">
                    <a class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">&times;</a>
                    {{Msg}}
<!--                    <strong>Well done!</strong> You successfully read this important alert message.-->
                  </div>
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">                
                
                    <div class="row">
                        <div class="col-md-12">                        

                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title"> </h3>
                                    <!-- Input Plantio   -->
<!--                                    <div class="btn-group pull-left">
                                        <span>Plantio:</span>
                                        <input id="plantio" type="text"  ng-model=""  />
                                    </div>-->
                                        
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Gerar Relatório</button>
                                        <ul class="dropdown-menu">
                                            
                                            <li><a ng-click="geraCSV()" id="csv"><i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</a></li>
                                            <li><a ng-click="geraRelatorio()" id="pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a></li>
<!--                                            <li><a ng-click="ver()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> VER</a></li>-->
                                        </ul>
                                    </div>
                                    <ul class="panel-controls">
                                        
                                    </ul>                              
                                </div>
                                
                                <div class="panel-body" >
                                  
                                    <table class="table datatable" id="tabela" data-paging="true" >
                                        <thead>
                                            <tr>
                                                <th>Nome Cientifico</th>
                                                <th>Nome Popular</th>
                                                <th>Familia</th>
                                                <th>Nº de Individuos</th>
                                                <th>Área Basal m²</th>
                                                <th>Volume m³</th>
                                                <th>Frequencia</th>
                                                <th>Valor Comercial da Madeira (VCM)</th>
                                                <th>Biomassa</th>
                                                <th>Utilidade da Espécie</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-init="getAll()">
                                            <tr ng-repeat="e in ep">
                                                <td>
                                                    <span ng-show="edit !== true">{{e.nomeCientifico}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.nomeCientifico" class="form-control" placeholder="Nome Cientifico">
                                                     
                                                </td>
                                                
                                                <td>
                                                    <span ng-show="edit !== true">{{e.nomePopular}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.nomePopular" class="form-control" placeholder="Nome Popular">
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.familia}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.familia" class="form-control" placeholder="Familia">
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.nIndividuos}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.nIndividuos" class="form-control" placeholder="Nº de individuos">
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.area}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.area" class="form-control" placeholder="Área Basal">
                                                    
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.volume}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.volume" class="form-control" placeholder="Volume">
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.frequencia}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.frequencia" class="form-control" placeholder="Frequencia">
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.valorComercial}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.valorComercial" class="form-control" placeholsder="valor Comercial">
                                                </td>
                                                <td>
                                                    <span ng-show="edit !== true">{{e.biomassa}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.biomassa" class="form-control" placeholsder="Biomassa">
                                                </td>
                                                
                                                <td>
                                                    <span ng-show="edit !== true">{{e.usos}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.usos" class="form-control" placeholsder="Nº de Usos">
                                                    
                                                </td>
                                                <td>
                                                    <button ng-show="edit != true" id="table-edit" ng-click="edit = true; edittable(e)"
                                                            uib-tooltip="Delete" tooltip-trigger="mouseenter" tooltip-placement="bottom" class="fa fa-pencil" title="editar"></button>
                                                    <button ng-show="edit" id="table-save" ng-click="edit = false; save(e)" 
                                                            uib-tooltip="Delete" tooltip-trigger="mouseenter" tooltip-placement="bottom" title="salvar"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                                                    <button ng-show="edit" id="table-cancel" ng-click="edit = false; reset()" uib-tooltip="Delete" 
                                                            tooltip-trigger="mouseenter" tooltip-placement="bottom" title="cancelar"><i class="glyphicon glyphicon-ban-circle"></i></button>        
                                                </td>
<!--                                                <td><a ng-click="edittable(e)" class="glyphicon glyphicon-edit"></a></td>-->
                                                <td><button id="table-remove" title="excluir"><i ng-click="deleterow(e)" class="fa fa-times" title="excluir"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
<!--                                    <div class="btn-group" style="position: absolute; right: 90px; ">
                                        <a ng-click="geraRelatorio()" type="button" class="btn btn-small btn-primary" style="" >Gerar Relatório PDF</a>
                                        
                                    </div>-->
                                    
                                    
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->
                           
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                
            </div>            
            <!-- END PAGE CONTENT -->
        
        <!-- END PAGE CONTAINER -->
        
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
       
        
<!-- Modal -->
<div class="modal fade bs-example-modal-lg in login-body" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-right: 17px;" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-lg" style="z-index:1000000000">
  <div class="modal-content">
      <div class="modal-body" >
          <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
        </div>
          
          
      </div>
    <div class="modal-footer">
      <h1 class="col-sm-offset-4 col-sm-3">Carregando...</h1>
    </div>

  </div>
</div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabela').bdt();
            
});
</script>
<script type="text/javascript">
$('#csv').click(function() {
    // ... do the call to search
    // and in the callback: 
    $('#myAlert').show();
});

$('#pdf').click(function() {
    // ... do the call to search
    // and in the callback: 
    $('#myAlert').show();
});
 
</script>
