<!-- PAGE CONTENT -->
<style type="text/css">
.white {color:#ffffff;}
.btn.btn-primary:disabled{
    background-color: #000000;
}
</style>
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" ng-click="logoff()" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                </li> 
            </ul>


<!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#Dashboard">Dashboard</a></li>
                    <li><a>Inventário</a></li>
                    <li><a href="#Inventario-Selecao">Listar</a></li>
                </ul>
                <!-- END BREADCRUMB -->
                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Listar</h2>
                </div>
                <!-- END PAGE TITLE -->                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    <div class="alert alert-success alert-dismissable" id="myAlert" hidden="">
                    <a class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">&times;</a>
                    {{Msg}}
<!--                    <strong>Well done!</strong> You successfully read this important alert message.-->
                  </div>
                
                    <div class="row">
                        <div class="col-md-12">                        

                            <div class="panel panel-default">
                                <div class="panel-heading">                                
                                    <h3 class="panel-title"> </h3>
                                    <ul class="panel-controls">
                                        
                                    </ul>
                                    <div class="btn-group pull-right">
                                    <button class="btn btn-primary black-background white" disabled>Total de Inventários: {{ep.length}}</button>
                                    </div>
                                </div>
                                
                                <div class="panel-body" >
                                    <table class="table datatable" id="tabela">
                                        <thead>
                                            <tr>
                                                <th style="display:none">Inventário Id</th>
                                                <th>Inventário</th>
                                                <th>Data</th>
                                                <th>Nº Especies</th>

                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-init="getAll()">
                                            <tr ng-repeat="e in ep">
                                                <td style="display:none">
                                                    <span ng-show="edit !== true">{{e.inventarioId}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.inventarioId" class="form-control" placeholder="Inventário">
                                                     
                                                </td>
                                                
                                                 <td>
                                                    <span ng-show="edit !== true">{{e.count}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.count" class="form-control" placeholder="Inventário">
                                                     
                                                </td>
                                                
                                                <td>
                                                    <span ng-show="edit !== true">{{e.data | date: 'dd/MM/yyyy' }}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.data" class="form-control" placeholder="Data">
                                                </td>
                                                 <td>
                                                    <span ng-show="edit !== true">{{e.especies}}</span>
                                                    <input ng-show="edit" type="text" ng-model="e.especies" class="form-control" placeholder="Nº Especies">
                                                </td>
               
                                                <td><button id="table-save" title="selecionar"><i ng-click="plc(e)" class="fa fa-check" title="selecionar"></i></button></td>
<!--                                                <td><a ng-click="edittable(e)" class="glyphicon glyphicon-edit"></a></td>-->
                                                <td><button id="table-remove" title="excluir"><i ng-click="deleterow(e)" class="fa fa-times" title="excluir"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                            <!-- END DEFAULT DATATABLE -->
                           
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                
            </div>            
            <!-- END PAGE CONTENT -->
        
        <!-- END PAGE CONTAINER -->
        
        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->
       
        
<!-- Modal -->
<div class="modal fade bs-example-modal-lg in login-body" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-right: 17px;" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-lg" style="z-index:1000000000">
  <div class="modal-content">
      <div class="modal-body" >
          <div id="circularG">
                <div id="circularG_1" class="circularG"></div>
                <div id="circularG_2" class="circularG"></div>
                <div id="circularG_3" class="circularG"></div>
                <div id="circularG_4" class="circularG"></div>
                <div id="circularG_5" class="circularG"></div>
                <div id="circularG_6" class="circularG"></div>
                <div id="circularG_7" class="circularG"></div>
                <div id="circularG_8" class="circularG"></div>
        </div>
          
          
      </div>
    <div class="modal-footer">
      <h1 class="col-sm-offset-4 col-sm-3">Carregando...</h1>
    </div>

  </div>
</div>
</div>